body{



    font-family:Ariel,Halvetica,sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
    /* background-color: grey;*/
    background-image:url(../webPage/images/mountains.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    
   
    /* background:url(../images/mountains.jpg) repeat grey; */
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.wrapper{
    margin:0 auto;
    width: 1000px;

    }

.container{
    width: 50%;
    margin: auto;
    overflow: hidden;

}
header .logo {
    position: center;

}
header{
    background: lightgray;
    display: block;
    width: 100%;     
}
header a{
    color:white;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin:0;
    padding:0;
}
 .first{
    float:left;
    display:inline;


}